@tailwind base;
@tailwind components;
@tailwind utilities;

    @layer{
        li::marker{
            color: #C19A67;
        }
        i.ri-checkbox-circle-line{
            color: #C19A67 !important;
        }
        .slick-dots li button:before {
            font-size: 16px !important; 
            color: #000;
            margin-top: 20px !important; 
        }

        .slick-dots >     li::before {
            content: none !important;
           
        }
        
        
    }